# Created by venv; see https://docs.python.org/3/library/venv.html
# Python関連
__pycache__/
*.py[cod]
*.so
*.pyo
*.pyd
.DS_Store

# 仮想環境
venv/
.env
*.venv
Pipfile
Pipfile.lock

# Jupyter Notebookキャッシュ
.ipynb_checkpoints/

# StreamlitのSecretsファイル（環境変数）
.secrets.toml

# Logファイル
logs/
*.log

# VSCodeやIDEの設定ファイル（任意）
.vscode/
.idea/


